
body{
  margin-top: 3vw;
	background-color: whitesmoke;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.grid {
  margin: 0 auto;
  max-width: var(--maxWidth); 
} 

.grid-sizer,
.grid-item {
  width: calc(33% - 1rem);    
  margin: 0.5vw;
  max-width: 450px;
  box-sizing: border-box;
}

.grid-item img {
	display: block;
	max-width: 100%;
	height: auto;
  }

/* From Uiverse.io by Cevorob */ 
.burger {
    position: fixed;
    right: 2vw;
    top: 3vw;
    width: 3.8vw;
    height: 2.5vw;
    background: transparent;
    cursor: pointer;
    display: block;
    transform: scale(0.7);
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: .2vw;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  .nav-menu {
    position: fixed;
    right: 2rem;
    top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 0;
}

.burger input:checked ~ .nav-menu {
    display: flex;
}

li{
    list-style-type: none;
    font-weight: 600;
    text-align: right;
    color: black;
    padding: .5rem;
}

a{
  color:black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.button-container {
  position: fixed;
  bottom: 1vw;
  left: 1vw;
  display: flex;
  align-items: center; /* Vertical alignment centered */
  justify-content: flex-start; /* Items aligned horizontally */
  gap: 1rem; /* Space between buttons and text */
  height: 6vw;
  max-width: var(--marginRight);
  z-index: 10;
}

.custom-play-button, 
.custom-pause-button {
    position: absolute;
    cursor: pointer;
    border: none;
    height: 2vw;
    width: 2vw; /* Adjust button size */
    background-color: whitesmoke;
}

.custom-play-button {
  animation: spin 15s linear infinite; 
}

.custom-pause-button:focus {
  outline: none;
}

.custom-play-button:focus {
  outline: none;
}

.music-label-container {
  display: flex;
  margin-left: 3vw;
  flex-direction: column;   /* Stack the text vertically */
  justify-content: center;  /* Center-align both rows */
  gap: 0;              /* Space between lines of text */
}

.song-name {
  font-size: 1vw;
  color: black;
  font-weight: 600;
}

.artist {
  font-size: .5vw;
  color: rgb(0, 0, 0);
  font-style: italic;
}

